<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>徐晣紘簡介</title>
	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/mountain.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "/static/cliff.jpg";
  			document.getElementById("h2text").innerText = "Zhe-Hong Xu";
		}
	</script>
</head>
<body>
	<?php echo date("Y-m-d") ?>
	<table width="70%">
		<tr>
			<td>
				<img src="/static/cliff.jpg"width="110%"id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			</td>
			<td>
				<h1>徐晣紘</h1>
				<h2 id="h2text">Zhe-Hong Xu</h2>
				<style type="text/css">
					* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
					h1 {color:blue; font-size:60px;}
					h2 {color:#33ff33; font-size:40px;}
				</style>
			</td>
		</tr>
	</table>
	<table width="70%">
		<tr>
			<td>
				個人網頁：<a href="file:///C:/Users/student/Desktop/about.html">file:///C:/Users/student/Desktop/about.html</a><br>
				FB：<a href="https://zh-tw.facebook.com/PU.ProvidenceUniversity">https://zh-tw.facebook.com/PU.ProvidenceUniversity</a><br>
				Tel: <a href="tel:0123456789">0123456789</a><br>
				E-Mail: <a href="maito:zhehongl30@gmail.com">zhehongl30@gmail.com</a><br>
			</td>
			<td>
				大象席地而坐電影配樂<br>
				<audio controls>
				<source src="/static/elephant.mp3" type="audio/mP3">
				</audio><br>
			</td>
			<td>
				不要去臺灣<br>
				<iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>
			</td>
		</tr>
	</table>
</body>
</html>